@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="SIMS">
	<meta name="author" content="SE06301">
	<meta name="keywords" content="sims btec 6301">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/SIMS/img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	@*@ViewData["title"] ?? null: mục đích là để khi click vào 1 page khác thì thanh trên SIMS sẽ thay đổi theo*@
	<title>SIMS - @ViewData["title"]</title>

	<link href="~/SIMS/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<partial name="_NavbarLayout.cshtml" />

		<div class="main">
			<partial name="_SideBarLayout.cshtml" />

			<main class="content">
				<div class="container-fluid p-0">

					@RenderBody()
				</div>
			</main>

			<partial name="_FooterLayout.cshtml" />
		</div>
	</div>

	<script src="~/SIMS/js/app.js"></script>
	@RenderSection("Scripts", required: false)


</body>

</html>