@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ASM_SIMS.Models.LoginViewModel

@{
	// ke thua tu _LayoutSignInSignUp.cshtml
	Layout = "~/Views/Shared/_LayoutSignInSignUp.cshtml";
}
<div class="d-table-cell align-middle">

	<div class="text-center mt-4">
		<h1 class="h2">Welcome back!</h1>
		<p class="lead">
			Sign in to your account to continue
		</p>
		@if (ViewData["MessageLogin"] != null)
		{
			<p class="text-danger">@ViewData["MessageLogin"]</p>
		}
	</div>

	<div class="card">
		<div class="card-body">
			<div class="m-sm-3">
				<form method="post" asp-controller="Login" asp-action="Index">
					<div class="mb-3">
						<label asp-for="email" class="form-label">Email</label>
						<input class="form-control form-control-lg" type="email" asp-for="email" placeholder="Enter your email" />
						<span asp-validation-for="email" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="password" class="form-label">Password</label>
						<input class="form-control form-control-lg" type="password" asp-for="password" placeholder="Enter your password" />
						<span asp-validation-for="password" class="text-danger"></span>
					</div>

					<div class="d-grid gap-2 mt-3">
						<button type="submit" class="btn btn-lg btn-primary">Sign in</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
