@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	// Mục đích để kiểm tra xem trang hiện tại là trang nào để active menu (nó sẽ hiện màu sáng vào nơi mình click vào Sidebar)
	string NameConroller = this.ViewContext.RouteData.Values["Controller"].ToString();
	string ActiveDashboard = NameConroller == "Dashboard" ? "active" : "";
	string ActiveCourses = NameConroller == "Courses" ? "active" : "";
	string ActiveTeacher = NameConroller == "Teacher" ? "active" : "";
	string ActiveStudent = NameConroller == "Student" ? "active" : "";
	string ActiveClassRoom = NameConroller == "ClassRoom" ? "active" : "";
	string ActiveCategory = NameConroller == "Category" ? "active" : "";

}
<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="@Url.Action("Index","Dashboard")">
			<span class="align-middle">SIMS - Group1</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Managements
			</li>
			<li class="sidebar-item @ActiveDashboard">
				<a class="sidebar-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>
			<li class="sidebar-item @ActiveTeacher">
				<a class="sidebar-link" asp-area="" asp-controller="Teacher" asp-action="Index">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">Teacher</span>
				</a>
			</li>

			<li class="sidebar-item @ActiveClassRoom">
				<a class="sidebar-link" asp-area="" asp-controller="ClassRoom" asp-action="Index">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">Class Rooms</span>
				</a>
			</li>

		</ul>


	</div>
</nav>

